## 장점

- 테이블을 알아서 만들어준다
- csv -> Dataframe으로 만들고 -> database에 insert (끝)

In [3]:
! conda install pymysql -y
# ! pip imstall pymysql  => 둘 중에 하나만 해도 됨

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\admin\Anaconda3

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.8.2                |           py37_0         2.8 MB
    pymysql-0.9.3              |           py37_0          83 KB
    ------------------------------------------------------------
                                           Total:         2.9 MB

The following NEW packages will be INSTALLED:

  pymysql            pkgs/main/win-64::pymysql-0.9.3-py37_0

The following packages will be UPDATED:

  conda                                       4.7.12-py37_0 --> 4.8.2-py37_0



Downloading and Extracting Packages

conda-4.8.2          | 2.8 MB    |            |   0%
conda-4.8.2          | 2.8 MB    |            |   1%
conda-4.8.2          | 2.8 MB    | ####9      |  49%
conda-4.8.2          | 2.8 MB    | ########## | 100%

pymysql-0.9.3        | 83 KB     |            |   0%
pymysql-0.9.3        | 83 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [2]:
# 파이썬에서 mysql 계열에 access 할 수 있는 모듈
import pymysql

In [3]:
# DataFrame에서 DB와 연동하기 위한 sql드라이버
from sqlalchemy import create_engine

In [4]:
# csv -> df
import pandas as pd
# df -> sql
# io : input & output
import pandas.io.sql as pSql

In [5]:
# 1. csv => df로 읽어서 변환하기
df = pd.read_csv('./raws/gu.csv')
df

   gu_id    gu
0      1   용산구
1      2    중구
2      3   종로구
3      4  서대문구
4      5  동대문구
5      6   성북구
6      7   성동구
7      8   마포구

# MARIA DB 깔기 & DB 설정

- MARIA DB 깔기
- Download MariaDB Server 클릭
- Download 10.4.12 Stable Now! 클릭
- mariadb-10.4.12-winx64.msi 다운
- mariadg client 열어서
- 비밀번호 입력
- create database python_db;
- show databases;
- eixt

- heidisql 열어서
- 신규 클릭해서 local로 이름 정하고
- 비번 입력 뒤 파이썬 db이름 클릭하고 저장 열기

# df -> sql -> db에 적재

In [6]:
# 연결
db_url = 'mysql+pymysql://root:11111111@127.0.0.1/python_db'
db_url

'mysql+pymysql://root:11111111@127.0.0.1/python_db'

In [7]:
# 엔진 생성
engine = create_engine(db_url, encoding='utf-8')

In [8]:
# DB 연결
conn = engine.connect()

In [9]:
# 연결 해제
if conn:
    conn.close()

In [10]:
# 연결 및 자동해제
with engine.connect() as conn:
    # 삽입
    # name: 테이블 명
    # if_exist : 기존 데이터가 존재하면 지우고 덮을 것인가
    # 추가할 것인가
    # index : df의 index 데이터로 넣을 것인가?
    df.to_sql(name='tbl_areas', con=conn, if_exists='replace', index=False )

In [11]:
df_1 = pd.read_csv('./raws/gps.csv')
df_1

    gu_id        lat         lng
0       1  37.554877  126.969665
1       1  37.553087  126.976429
2       1  37.555221  126.976546
3       1  37.553207  126.978747
4       1  37.553687  126.985415
..    ...        ...         ...
63      2  37.556851  127.018076
64      2  37.552645  127.016201
65      2  37.547467  127.009320
66      2  37.545024  127.008152
67      2  37.544063  127.008547

[68 rows x 3 columns]

In [12]:
# 연결 및 자동해제 다른 파일 gps.csv
with engine.connect() as conn:
    df_1.to_sql(name='tbl_gps', con=conn, if_exists='replace', index=False )

# database backup

- 데이터 베이스 우클릭하고 데이터 베이스를 sql로 내보내기
- 데이터 베이스, 테이블 생성 체크
- 파일명 입력한 후 내보내기 닫기
- 기존 데이터 베이스 삭제한 후
- 파일 sql 파일 불러오기 클릭한후
- 새로고침하고 잘 들어왔는지 확인

In [ ]:
# geoJson => 반정형 데이터
# db오 픈
    # 폴리곤 개수만큼 반복
    # 행정구역별(폴리곤단위) 한줄 씩 읽어서 (파일처리)
    # 읽은 데이터 한개는 json 형식이므로 json.read()하고
    # 자료구조를 그대로 유지
    # gps , 기타정보를 인덱싱 처리 가능
    # df를 구성해서 db에 인서트
# db 닫기